
@media (min-width: 320px) and (max-width: 800px) {
.card{
    margin-bottom: 30px;
}
.oneRow{
    justify-content: normal;
}
    .cardTextTittle,#cardTittleUn{
        font-size: 20px;
        font-weight: 600;
    }
    #timeImg{
        width: 100%!important;
    }
    .news{
        width: 65%!important;
        height: 100%!important;

    }
    .politics{
        border-right: none;
        padding-left: 20px;

    }
    .oferta, .Clientlogin,.register {
        padding-left: 20px;
    }
    #oneRowOne{
        flex-direction: column;
    }

    .footerContent{
        align-items: normal;
    }

    .newsContent{
        flex-direction: column;
    }
    .arrowLeft,.arrowRight{
        display: none;
    }
    .newsContainer{
        width: 100%;
    }
    .newsName,.newsEmail,.newsButton{
        margin-top: 10px;
        width: 100%;
        margin-bottom: 10px;
    }
    .newsButton{

        align-self: center;
    }
    .newsButton button {
        font-size: 16px;
        margin-right: 10px;
    }
}